{% extends 'core/base.html' %}
{% load static %}
{% block title %}Admin Dashboard{% endblock %}
{% block container_class %}container-wide{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block content %}

<h1>Admin Dashboard</h1>

<p><strong>Welcome:</strong> {{ admin_username }}</p>

<hr>

<h3>System Statistics</h3>
<ul>
    <li>Total Patients: {{ total_patients }}</li>
    <li>Total Doctors: {{ total_doctors }}</li>
    <li>Total Records: {{ total_records }}</li>
    <li>Reviewed Records: {{ reviewed_records }}</li>
</ul>

<hr>

<h3>ML Model Status</h3>
{% if model_trained %}
    <p>Model is trained</p>
{% else %}
    <p>Model is NOT trained</p>
{% endif %}

{% if dataset_info %}
    <h4>Dataset Info</h4>
    <ul>
        <li>File: {{ dataset_info.dataset_file }}</li>
        <li>Total Rows: {{ dataset_info.total_rows }}</li>
        <li>After Cleaning: {{ dataset_info.rows_after_outlier_removal }}</li>
        <li>Outliers Removed: {{ dataset_info.outliers_removed }}</li>
        <li>Accuracy: {{ dataset_info.model_accuracy_pct }}%</li>
        <li>Features: {{ dataset_info.feature_columns|join:", " }}</li>
    </ul>
{% endif %}

<hr>

<h3>Users</h3>
<div class="table-container">
<table>
    <tr>
        <th>Name</th>
        <th>User ID</th>
        <th>Role</th>
        <th>Registered</th>
        <th>Action</th>
    </tr>

    {% for u in users %}
    <tr>
        <td>{{ u.name }}</td>
        <td>{{ u.user_id }}</td>
        <td>{{ u.role }}</td>
        <td>{{ u.created_at }}</td>
        <td>
            <form method="POST" action="{% url 'admin_delete_user' u.user_id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
<hr>

<h3>Patient Records</h3>
<div class="table-container">
<table>
    <tr>
        <th>Patient</th>
        <th>Score</th>
        <th>Risk</th>
        <th>ML Result</th>
        <th>Confidence</th>
        <th>Status</th>
        <th>Date</th>
        <th>Action</th>
    </tr>

    {% for rec in records %}
    <tr>
        <td>{{ rec.patient.name }}</td>
        <td>{{ rec.clinical_score }}</td>
        <td>{{ rec.clinical_risk_level }}</td>
        <td>{{ rec.ml_prediction }}</td>
        <td>{{ rec.ml_confidence }}</td>
        <td>
            {% if rec.is_reviewed %}
                Done
            {% else %}
                Pending
            {% endif %}
        </td>
        <td>{{ rec.created_at }}</td>
        <td>
            <form method="POST" action="{% url 'admin_delete_record' rec.record_id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
</div>

<br>

<a href="{% url 'admin_logout' %}">Logout</a>

{% endblock %}