{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dengue DSS{% endblock %}</title>

    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Page-specific CSS -->
    {% block extra_head %}{% endblock %}
</head>

<body>

<div class="container {% block container_class %}{% endblock %}">
    {% block content %}{% endblock %}
</div>

<!-- JS -->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>