{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Dengue DSS{% endblock %}</title>

    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Page-specific CSS -->
    {% block extra_head %}{% endblock %}
</head>

<body>

<!-- Django Messages -->
{% if messages %}
    <div class="container">
        {% for msg in messages %}
            <p class="message">{{ msg }}</p>
        {% endfor %}
    </div>
{% endif %}

<div class="container {% block container_class %}{% endblock %}">
    {% block content %}{% endblock %}
</div>

<!-- JS -->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>