{% extends 'core/base.html' %}
{% block title %}Patient Dashboard{% endblock %}

{% block content %}

<h1>Patient Dashboard</h1>

<p><strong>Name:</strong> {{ user.name }}</p>
<p><strong>User ID:</strong> {{ user.user_id }}</p>

<br>

<a href="{% url 'patient_form' %}">+ New Assessment</a> |
<a href="{% url 'logout' %}">Logout</a>

<hr>

{% if not records %}
    <p>No assessments yet.</p>
    <a href="{% url 'patient_form' %}">Start Assessment</a>
{% else %}

<h3>Your Records</h3>

<table border="1">
    <tr>
        <th>Date</th>
        <th>Score</th>
        <th>Risk Level</th>
        <th>ML Result</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for rec in records %}
    <tr>
        <td>{{ rec.created_at }}</td>
        <td>{{ rec.clinical_score }}</td>

        <td>
            {% if rec.clinical_risk_level == 'low' %}Low
            {% elif rec.clinical_risk_level == 'possible' %}Possible
            {% elif rec.clinical_risk_level == 'probable' %}Probable
            {% else %}High{% endif %}
        </td>

        <td>
            {% if rec.ml_prediction %}
                {{ rec.ml_prediction }} ({{ rec.ml_confidence|floatformat:1 }}%)
            {% else %}
                —
            {% endif %}
        </td>

        <td>
            {% if rec.is_reviewed %}
                Reviewed
            {% else %}
                Pending
            {% endif %}
        </td>

        <td>
            <a href="{% url 'patient_result' rec.record_id %}">View</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endif %}

{% endblock %}